#about {
    margin-bottom: 5em;
}

#about h2 {
    /* position: absolute; */
    margin-bottom: -5em;
}

.about-container {
    padding: 10em 5em;
    align-items: center;
    color: #fff;
}

.about-right-side {
    /* width: 50%; */
    width: 600px;
    flex-direction: column;
    align-items: left;
}
.about-left-side {
    width: 50%;
    justify-content: center;
}

.myDescription p {
    font-size: 1em;
    text-align: justify;
}

.workingTech p {
    font-family: "Share Tech Mono";
    color: var(--SECONDARY-COLOR);
    font-size: 1em;
}

.about_img_desktop img {
    height: 30rem;
}
.about_img_mobile img {
    display: none;
}

.skills-container {
    display: grid;
    flex-direction: column;
    grid-template-columns: 1fr 1fr;
    grid-gap: .5em;
}

@media (max-width:968px) {
    #about {
        margin-bottom: 10em;
    }
    .about_img_desktop img {
        display: none;
    }
    .about_img_mobile img {
        display: block;
        height: 15rem;
    }
    .about-container {
        flex-direction: column;
    }
    .about-right-side {
        width: 100%;
    }
}
@media (max-width:480px) {
    .about-container {
        padding: 10em 0;
        margin: 0 5em;
    }
}