.primary-header {
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 0 2rem;
}

.primary-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
}

.primary-navigation a {
  color: var(--PRIMARY-COLOR);
  text-decoration: none;
  font-size: 1.4em;
}

.resume {
  padding: .05em .2em;
  border: solid 1px;
  transition: ease 0.3s;
}

.primary-navigation a:hover {
  color: var(--PRIMARY-COLOR-HOVER);
}
.primary-navigation li .resume:hover {
  background-color: var(--PRIMARY-COLOR-HOVER);
  border-color: var(--PRIMARY-COLOR-HOVER);
  color: black;
}

@media (max-width: 800px) {
  .resume {
    display: none;
  }
}
@media (max-width: 480px) {
  .primary-navigation {
    display: fixed;
    inset: 0 0 0 30%;
    background-color: var(--PRIMARY-COLOR);
    color: #000;
    position: absolute;
    height: 100vh;
    flex-direction: column;
    padding: 2em;
    --gap: 1em;
  }

  .primary-navigation a {
    color: #000;
  }
}
