#home {
    justify-content: center;
}

.home-content {
    flex-direction: column;
    text-align: center;
}

.home-content p{
    font-family: "Share Tech Mono";
}

#myName {
    flex-direction: column;
    text-align: center;
    font-size: 3em;
    color: #fff;
}

#myName span{
   margin-top: -.6em ;
}

.resume-btn {
    display: none;
}

@media (max-width: 360px) {
    #myName {
        font-size: 2em;
    }
}
@media (max-width: 650px) {
    .resume-btn {
        display: block;
    }
}