.mobileNav-container {
    margin: 0 3rem;
    display: flex;
    width: 50vw;
}
.hamburguerMenu-a {
  display: none;
    width: 2em;
}

.mobileNav {
  width: 100%;
  background-color: var(--PRIMARY-COLOR);
  color: #000;
  position: absolute;
  height: 100vh;
  z-index: 999;
}

.mobileNav-section {
  color: #000;
}

@media (min-width: 650px) {
  .mobileNav-container {
    display: none;
  }
}
